.it-container:hover > .it-content {
  /* display: block; */
  display: flex;
  opacity: 1;
  transform: scaleY(1);
  /* height: fit-content; */
}
.it-container:hover > .service-heading {
  margin: 0;
}
.it-container:hover > .it-content {
  animation: anim 200ms ease-in-out;
  animation-iteration-count: 1;
}
@keyframes anim {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
