@media only screen and (max-width: 639px) {
  .destination-section {
    margin-top: -100px;
  }
}

@media only screen and (max-width: 530px) {
  .destination-section {
    margin-top: -220px;
  }
}
@media only screen and (max-width: 430px) {
  .destination-section {
    margin-top: -280px;
  }
}
@media only screen and (max-width: 400px) {
  .destination-section {
    margin-top: -320px;
  }
}
